cfi1 RCDATA "Resources\\PNG\\128px\\1.png"
cfi1n RCDATA "Resources\\PNG\\128px\\1n.png"
cfi2 RCDATA "Resources\\PNG\\128px\\2.png"
cfi2n RCDATA "Resources\\PNG\\128px\\2n.png"
cfi2r RCDATA "Resources\\PNG\\128px\\2r.png"
cfi2rn RCDATA "Resources\\PNG\\128px\\2rn.png"
cfi3 RCDATA "Resources\\PNG\\128px\\3.png"
cfi3n RCDATA "Resources\\PNG\\128px\\3n.png"
cfi3TM RCDATA "Resources\\PNG\\128px\\3TM.png"
cfi4 RCDATA "Resources\\PNG\\128px\\4.png"
cfi4n RCDATA "Resources\\PNG\\128px\\4n.png"
cfi4r RCDATA "Resources\\PNG\\128px\\4r.png"
cfi4rn RCDATA "Resources\\PNG\\128px\\4rn.png"
cfi4t RCDATA "Resources\\PNG\\128px\\4t.png"
cfi4tn RCDATA "Resources\\PNG\\128px\\4tn.png"
cfi5 RCDATA "Resources\\PNG\\128px\\5.png"
cfi5n RCDATA "Resources\\PNG\\128px\\5n.png"
cfi6 RCDATA "Resources\\PNG\\128px\\6.png"
cfi6n RCDATA "Resources\\PNG\\128px\\6n.png"
cfi7 RCDATA "Resources\\PNG\\128px\\7.png"
cfi7n RCDATA "Resources\\PNG\\128px\\7n.png"
cfi8 RCDATA "Resources\\PNG\\128px\\8.png"
cfi8n RCDATA "Resources\\PNG\\128px\\8n.png"
cfi9 RCDATA "Resources\\PNG\\128px\\9.png"
cfi9n RCDATA "Resources\\PNG\\128px\\9n.png"
